@charset "utf-8";


/* /////////////////////////////////////////////////

	Main CSS
	
	Author	yk
	Date	2013/11/05

///////////////////////////////////////////////// */


/*--------------------------DMラベル管理　リストスタイル設定--------------------------*/

#list-wrap .headText{
	margin-bottom:10px;
}

#list-wrap .headText h4{
	display:inline-block;
	float:left;
	margin-bottom:0;
}

#list-wrap .headText button[name=searchBtn]{
	display: inline-block;
	padding: 4px 12px;
	margin-left:20px;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: top;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

#list-wrap .headText button[name=searchBtn]:hover{
	color: #333;
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}

#list-wrap .headText .groupSelect{
	position: relative;
	display: inline-block;
	font-size: 0;
	white-space: nowrap;
	vertical-align: middle;
	margin-left:10px;
}

#list-wrap .headText .groupSelect button{
	display: inline-block;
	padding: 4px 8px;
	margin-left:20px;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

#list-wrap .headText button.btn{
	position: relative;
	margin:0px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
}

#list-wrap .headText button.dropdown{
	position: relative;
	margin:0px;
	margin-left:-1px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
}

#list-wrap .headText button.dropdown:hover{
	color: #333;
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}

#list-wrap .headText ul{
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 12px;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	background-clip: padding-box;
}

#list-wrap .headText ul li >a{
	display: block;
	clear: both;
	color: #333;
	text-decoration: none;
	font-weight: normal;
	line-height: 18px;
	white-space: nowrap;
	padding: 6px 0 6px 13px;
}

#list-wrap .headText ul li >a:hover{
	background:#eee;
}

#list-wrap .headText .searchText{
	display:inline-block;
	color: #d12610;
	font-size:14px;
	font-weight:bold;
	line-height:30px;
	vertical-align: text-top;
	margin-left:20px;
}

#list-wrap #searchWrap{
	margin-bottom:20px;
	background-color: #fafafa;
	border-top: 1px solid #ccc;
}

#list-wrap #searchWrap form{
	display:none;
	padding:10px;
	border-bottom:1px solid #ccc;
}

#list-wrap #searchWrap fieldset{
	padding:10px 20px;
	border-top:1px solid #fff;
	border-bottom:1px solid #f5f5f5;
}

#list-wrap #searchWrap fieldset legend{
	display:block;
	float:left;
	width:160px;
	color:#333;
	font-size:13px;
	text-align:right;
	line-height:18px;
	padding-top:6px;
	margin-bottom:2px;
}

#list-wrap #searchWrap fieldset >div{
	margin-left:180px;
}


#list-wrap #searchWrap fieldset label{
	display:inline-block;
	color:#666;
	padding:4px 24px 4px 4px;
	margin-right:6px;
	margin-bottom:4px;
	border:1px solid #ddd;
	cursor:pointer;
}

#list-wrap #searchWrap input[type=radio]{
	margin-right:4px;
}

#list-wrap #searchWrap input[type=text]{
	width:60px;
	max-width:400px;
	height:28px;
	font-size:14px;
	padding-left:6px;
	padding-right:6px;
	margin-left:8px;
	border:1px solid #ddd;
	border-radius:0px;
	box-shadow:none;
}

#list-wrap #searchWrap select{
	display: inline-block;
	width:120px;
	height:30px;
	vertical-align: middle;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #ccc;
}

#list-wrap #searchWrap .date select{
	width:80px;
	margin-left:8px;
	margin-right:4px;
}

#list-wrap #searchWrap .searchAction{
	padding: 14px 10px 15px 172px;
}

#list-wrap #searchWrap .searchAction button{
	display: inline-block;
	padding: 4px 12px;
	margin-left:20px;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	vertical-align: middle;
	cursor: pointer;
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top,#08c,#04c);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));
	background-image: -webkit-linear-gradient(top,#08c,#04c);
	background-image: -o-linear-gradient(top,#08c,#04c);
	background-image: linear-gradient(to bottom,#08c,#04c);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #04c #04c #002a80;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

#list-wrap .listCtrl li {
	width: 60px;
}

#list-wrap table td input[type=checkbox]{
	margin:0 8px;
}

#list-wrap .checkWrap{
	float:left;
	margin-top:8px;
	overflow:hidden;
}

#list-wrap .checkWrap label{
	display: inline-block;
	color: #333;
	font-weight:bold;
	text-decoration:underline;
	padding: 4px 24px 4px 4px;
	cursor: pointer;
}

#list-wrap .checkWrap label input{
	margin:0 8px 0 4px;
}

#list-wrap .checkWrap label:hover{
	color: #37b7f3;
}


/*--------------------------DMラベル管理　エディットスタイル設定--------------------------*/

#new-wrap .name input,
#edit-wrap .name input{
	width:60px;
	margin:0 4px;
}

#new-wrap .telnum input,
#edit-wrap .telnum input{
	width:60px;
	margin:0 4px;
}

#new-wrap input[name=business],
#edit-wrap input[name=business],
#new-wrap input[name=job],
#edit-wrap input[name=job]{
	width:200px;
}

#new-wrap input[name=area_text],
#edit-wrap input[name=area_text]{
	width:160px;
	margin-left:20px;
}


/*--------------------------DMラベル管理　詳細スタイル設定--------------------------*/

#detail-wrap .groupTag{
	padding:10px 10px 0;
}

#detail-wrap .groupTag span{
	display:inline-block;
	line-height:16px;
	padding:1px 4px;
	margin-right:8px;
	margin-bottom:5px;
}

#detail-wrap form{
	padding-top:0px !important;
}


/*--------------------------DMラベル管理　追加情報スタイル設定--------------------------*/

#detail-wrap button[type=submit]{
	width:120px !important;
}

div.color_icon{
	text-indent: 0px;
}



